/*--------------------------------------------------------------------------
   
	Eventcamp Documentation

	0. YUI Library is used for CSS reset (http://yuilibrary.com/yui/docs/cssreset/)
	1. Body
	2. Typography
	3. Page Sections
		3.1. Topbar
		3.2. Header
		3.3. Files
		3.4. Grid Basic Usage
		3.5. Grid Advanced Usage
		3.6. Images
		3.7. Alpha Backgrounds
		3.8. Support & Sources/Credits
		3.9. Footer
	4. Forms

--------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
	1. Body
--------------------------------------------------------------------------*/

body {
	color: #333;
	background: #fff;
	font: normal 14px/26px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}



/*--------------------------------------------------------------------------
	2. Typography
--------------------------------------------------------------------------*/

h1 { font-size: 26px; line-height: 36px; font-weight: bold; }
h2 { 
	font: bold 80px/90px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
h3 { font-size: 15px; line-height: 25px; font-weight: bold; }
h4 { font-size: 13px; line-height: 23px; }
h5 { font-size: 12px; line-height: 20px; }
h6 { font-size: 12px; line-height: 14px; }

/* Links */
a, a:visited { color: #333; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #666; }
p a, p a:visited { line-height: inherit; }

/* Font stylings */
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }



/*--------------------------------------------------------------------------
	3. Sections

	* Each block of the HTML page is named similar to "section-name"
	* If you don't need a specific section, just remove the whole section div block in the HTML file
--------------------------------------------------------------------------*/

/* Common elements */

h2 {
	font: bold 20px/30px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}

p.desc {
	font: normal 13px/25px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	margin-bottom: 30px;
}

pre {
	margin-bottom: 30px;
}

.box {
	color: #333;
	background: #fff;
	font: normal 11px/22px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 15px 20px;
	margin-bottom: 40px;
}

	.box h4 {
		color: #555;
		font: normal 16px/27px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 10px;
	}

	.box p.desc {
		margin-bottom: 0;
	}


/* Font colors */
.font-color-primary {
	color: #3399ee;
}

.font-color-black {
	color: #000;
}

.font-color-white {
	color: #fff!important;
}

/* Colors - Underline */
.underline-color-primary {
	border-bottom: 1px solid #3399ee;
}

img { max-width: 100%; }



	/*---------------------------------------------------
		3.1 Topbar

		* This is the fixed top navigation
	---------------------------------------------------*/

	/* Topbar (fixed) */
	/* Please refer to responsive_custom.css for CSS in smaller viewport */
	#section-topbar {
		height: 40px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000;
		overflow: visible;
		font: normal normal 16px/24px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	#section-topbar a {
	  color: #fff;
	}

	#topbar-inner {
		/*	*	*	*	*	*	*	*	*	*	*	*
			bg_alpha50.png file is used for transparent background 
			Look in the documentation file for usages of transparent png overlays
		*	*	*	*	*	*	*	*	*	*	*	*/
		background: url('../images/alpha/bg_alpha50.png');
	}

	/*	*	*	*	*	*	*	*	*	*	*	*
		In mobile viewports, the list menu is converted to "select" element via javascript
		https://github.com/lukaszfiszer/selectnav.js
	*	*	*	*	*	*	*	*	*	*	*	*/
	.selectnav { display: none; }


	/*
		Top Bar

		By default, top navigation bar uses "fixed" position
		Menu collapses in mobile viewports
		Refer to css/responsive_custom.css for mobile layouts
	*/
	#section-topbar ul#nav {
		display: block;
		float: right;
		position: relative;
		margin: 0;
	}

	#section-topbar ul#nav > li {
		display: block;
		float: left;
	}


	#section-topbar ul#nav a {
	  display: block;
	  padding: 10px 20px 15px 20px;
	  font: normal 11px/18px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  text-decoration: none;
	}

		#section-topbar ul#nav a {
			border-top: 3px solid #000;
		}

		#section-topbar ul#nav a:hover {
		  border-top: 3px solid #3399ee;
		  text-decoration: none;
		}

		#section-topbar ul#nav .active a {
			border-top: 3px solid #3399ee;
		}



	/*---------------------------------------------------
		3.2 Header
		
		* Includes site logo and event details
		* Date, Time, and Location of the event
	---------------------------------------------------*/
	
	#section-header {
		color: #fff;
		/* The background image used in this template is 1980 by 650 pixels */
		background: #111 url('../images/bg_eventcamp.jpg') no-repeat center 0;
	}

		/* Site Title/Logo */
		#section-header h1 { 
			color: #fff;
			font: normal bold 95px/105px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase; 
			margin-bottom: 160px ;
		}

		#section-header p#logo-desc {
			color: #3399ee;
			font: 16px/28px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin-top: 160px ;
		}

		/* Apply max-width of 100% to make the image scale down in mobile viewports */
		#section-header img {
			max-width: 100%;
		}

		#section-header h1 a {
			color: #fff;
		}

		#section-header h1 a:hover {
			color: #3399ee;
		}



	/*---------------------------------------------------
		3.3 Files
	---------------------------------------------------*/

	#section-files {
		color: #aaa;
		background: #111;
		padding: 70px 0;
	}

		#section-files h3 {
			color: #fff;
			margin-top: 40px;
			border-bottom: 1px solid #222;
			padding-bottom: 6px;
			margin-bottom: 15px;
		}

		#section-files a {
			color: #fff;
			text-decoration: underline;
		}

			#section-files a:hover {
				color: #3399ee;
			}


	ol {
		list-style-type: decimal;
	}

		ol li {
			margin-top: 5px;
		}




	/*---------------------------------------------------
		3.4 Grid Basic Usage
	---------------------------------------------------*/

	#section-grid {
		color: #aaa;
		background: #222;
		padding: 70px 0;
	}

		#section-grid .section-example {
			margin: 40px 0
		}



	/*---------------------------------------------------
		3.5 Grid Advanced Usage
	---------------------------------------------------*/

	#section-grid2 {
		color: #fff;
		background: #3399ee;
		padding: 70px 0;
	}



	/*---------------------------------------------------
		3.6 Images
	---------------------------------------------------*/

	#section-images {
		color: #aaa;
		background: #3399ee url('../images/alpha/bg_alpha5.png');
		padding: 70px 0;
	}

		#section-images img {
			margin-bottom: 40px;
		}



	/*---------------------------------------------------
		3.7 Alpha Backgrounds
	---------------------------------------------------*/

	#section-alpha {
		background: #222 url('../images/bg_examples_alpha.jpg') no-repeat top center;
		background-size: cover;
		padding: 50px 0;
	}

		#section-alpha .section-example p {
			font: bold 12px/24px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			padding: 20px 25px;
		}



	/*---------------------------------------------------
		3.8 Support & Sources/Credits
	---------------------------------------------------*/

	#section-support {
		color: #fff;
		background: #111;
		padding: 50px 0;
	}

		#section-support a {
			color: #3399ee;
			text-decoration: underline;
		}

		#section-support a:hover {
			color: #fff;
		}



	/*---------------------------------------------------
		3.9 Footer
	---------------------------------------------------*/

	#section-footer {
		font: normal 13px/26px 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fff;
		background: #000;
	}

		#section-footer p#copytext {
			color: #777;
			margin: 35px 0;
		}

		#section-footer a { color: #3399ee; }

		#section-footer a:hover { color: #eee; }


		#section-footer ul#social {
			float: right;
			border-left: 1px solid #111;
		}

		#section-footer ul#social li {
			display: inline-block;
			float: left;
		}

		#section-footer ul#social li a {
			display: block;
			padding: 30px;
			border-right: 1px solid #111;
		}

		#section-footer ul#social li a:hover {
			background: #3399ee;
		}